<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
                {% if targetCompany %}
                <SVCURRENTCOMPANY>{{ targetCompany | escape }}</SVCURRENTCOMPANY>
                {% endif %}
            </REQUESTDESC>
            <REQUESTDATA>
                {% for master in masters %}
                <TALLYMESSAGE>
                    <{{ targetCollection | upper }} NAME="{{ master | escape }}" ACTION="Delete">
                        <NAME>{{ master | escape }}</NAME>
                    </{{ targetCollection | upper }}>
                </TALLYMESSAGE>
                {% endfor %}
            </REQUESTDATA>
        </IMPORTDATA>
    </BODY>
</ENVELOPE>